<a href="https://colab.research.google.com/github/marekhennig/175IC-machine-learning/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
data = {
    'size': ['L', 'M',np.nan,'S','M','M','M','L','L','S'],
    'color': [np.nan, 'red', 'blue','black', 'black','yellow', 'pink', 'brown', 'black', 'white'],
    'gender': [np.nan,np.nan,'female','male',np.nan,'male',np.nan,'female','male','female'],
    'price': [np.nan, np.nan, 100.00, 120.00, 20.00,240.00, 140.88, 37.21, 99.99, 84.20],
    'weight': [488.00, 420.00, 120.00, 200.00, 220.00,180.00,240.00,np.nan,400.00, 390.00],
    'bought': ['no', 'no','no', 'yes','yes', 'no','yes', 'yes','yes', 'yes']
}
df_raw = pd.DataFrame(data=data)
df = df_raw.copy()
#df.info()
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')
df.info()
df.describe(include=['category']).T

df
df.dropna(thresh = (len(df.keys())-2), inplace=True)
df['price'].fillna(df['price'].mean(), inplace=True)
df['weight'].fillna(df['weight'].interpolate(), inplace=True)
df['size'].fillna('M', inplace=True)
df['color'].fillna('black', inplace=True)
df['gender'].fillna('male', inplace=True)
df['cost'] = pd.cut(df['price'], bins = 3, labels=('cheap', 'normal_price', 'expensive'))
df['bought_yes'] = df['bought'].apply(lambda x: 1 if 'yes' in x else 0)
df
df1=df[['price','cost']]
df2=df['bought_yes']

X_train, X_test, y_train, y_test = train_test_split(df1, df2, train_size=0.7)



#le = preprocessing.LabelEncoder()
#le.fit_transform(df['bought'])
#le.classes_
#pd.get_dummies(data=df)
#df = pd.get_dummies(data=df, drop_first=True)
#scaler = preprocessing.StandardScaler()

#df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    9 non-null      category
 1   color   9 non-null      category
 2   gender  6 non-null      category
 3   price   8 non-null      float64
 4   weight  9 non-null      float64
 5   bought  10 non-null     category
dtypes: category(4), float64(2)
memory usage: 1000.0 bytes

  size   color  gender    price  weight bought          cost bought_yes
1    M     red    male  105.285   420.0     no  normal_price          0
2    M    blue  female  100.000   120.0     no  normal_price          0
3    S   black    male  120.000   200.0    yes  normal_price          1
4    M   black    male   20.000   220.0    yes         cheap          1
5    M  yellow    male  240.000   180.0     no     expensive          0
6    M    pink    male  140.880   240.0    yes  normal_price          1
7    L   brown  female   37.210   320.0    yes         cheap          1
8    L   black    male   99.990   400.0    yes  normal_price          1
9    S   white  female   84.200   390.0    yes         cheap          1